
        <div class="c-bottom anim anim--up">
           <div class="c-bottom__copyrights">
                <p>Copyrights &copy; 2020 IMKER</p>
                <p>Wykonanie: <a href="#">lorem ipsum</a></p>
           </div>
           
           <a href="#" class="o-logo">
               <img 
                    srcset="./img/assets/logo-imker--sign-gray.png 1x, ./img/assets/logo-imker--sign-gray@2x.png 2x" src="./img/assets/logo-imker--sign-gray.png" 
                    width="65" alt="imker">
           </a>
        </div>
