
        <div class="c-contact anim anim--up">
            
            <header class="o-header">
                <h2 class="o-lead--1">Kontakt</h2>
            </header>
            
            <ul class="c-contact__address">
                <li>
                    <p class="o-lead--5">
                        <strong>Adrian Typiak</strong> Doradca i&nbsp;Opiekun Klienta
                    </p>
                    
                    <p>
                        <a href="tel:0048 888 269 890">
                            <i class="icon-tel"></i> +48 888 269 890
                        </a>
                    </p>
                    
                    <p>
                        <a href="mailto:adrian.typiak@imker.pl">
                            <i class="icon-mail"></i> adrian.typiak@imker.pl
                        </a>
                    </p>                    
                </li>
                
                <li>
                    <p class="o-lead--5">
                        <strong>Ewa Zwolińska</strong> Doradca i&nbsp;Opiekun Klienta
                    </p>
                    
                    <p>
                        <a href="tel:0048 608 544 831">
                            <i class="icon-tel"></i> +48 608 544 831
                        </a>
                    </p>
                    
                    <p>
                        <a href="mailto:ewa.zwolinska@imker.pl">
                            <i class="icon-mail"></i> ewa.zwolinska@imker.pl
                        </a>
                    </p>                    
                </li>
                
                <li>
                    <p class="o-lead--5">
                        <strong>Katarzyna Tymicka</strong> Doradca i&nbsp;Opiekun Klienta
                    </p>
                    
                    <p>
                        <a href="tel:0048 600 386 340">
                            <i class="icon-tel"></i> +48 600 386 340
                        </a>
                    </p>
                    
                    <p>
                        <a href="mailto:katarzyna.tymicka@imker.pl">
                            <i class="icon-mail"></i> katarzyna.tymicka@imker.pl
                        </a>
                    </p>                    
                </li>
            </ul>
            
            <form action="#" class="c-contact__form js-contactform">
                <div class="form-row">
                    <div class="form-group">
                        <input type="text" placeholder="Imię i nazwisko">
                    </div>
                    
                    <div class="form-group">
                        <input type="email" placeholder="Adres e-mail">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        <input type="tel" placeholder="Numer telefonu">
                    </div>
                    
                    <div class="form-group">
                        <select>
                            <option>Preferowane godziny kontaktu</option>
                            <option>8-15</option>
                            <option>15-20</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group">
                        
                        <p class="o-lessmore js-lessmore" 
                           data-less="mniej"
                           data-more="więcej">Chciałbym/abym podać <span class="js-word">mniej</span> szczegółów</p>
                    </div>
                </div>

                <div class="form-row form-details">                    
                    <div class="form-group">
                        <select>
                            <option>Interesuje mnie usługa</option>
                            <option>selfpublishing</option>
                            <option>fulfillment</option>
                            <option>salesCRM</option>
                            <option>support</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" placeholder="W swoim sklepie oferuję (lub planuję oferować)">
                    </div>
                </div>
                
                <div class="form-row form-details">                    
                    <div class="form-group">
                        <textarea placeholder="Dodatkowe informacje do Twojego zapytania"></textarea>
                    </div>
                </div>
                
                <div class="form-row">                    
                    <div class="form-group">
                        <input type="checkbox" checked id="agree">
                        <label for="agree">
                        	<i></i>
                        	<span>Wyrażam zgodę na otrzymywanie drogą elektroniczną [...]</span>
                        </label>
                    </div>
                </div>
                
                <div class="form-row">                    
                    <div class="form-group">
                        <button type="submit" class="o-btn o-btn--major">
                            <span>Wyślij teraz</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
