
        <div class="c-footer anim anim--up">
           <nav class="c-footer__nav">
               <h4 class="o-lead--5">usługi</h4>
               
               <ul class="c-footer__menu">
                   <% include nav--offer %>
               </ul>
           </nav>
           
           <nav class="c-footer__nav">
               <h4 class="o-lead--5">firma</h4>
               
               <ul class="c-footer__menu">
                   <% include nav--main %>
               </ul>
           </nav>
           
           <nav class="c-footer__nav">
               <h4 class="o-lead--5">pozostałe</h4>
               
               <ul class="c-footer__menu">
                   <% include nav--other %>
               </ul>
           </nav>
           
            <% include newsletter %>

        </div>
