
            <nav class="c-nav js-nav">
                <ul class="c-nav__menu c-nav__menu--offer js-menu">
                    
                    <% include nav--offer %>
                    
                </ul>
                
                <ul class="c-nav__menu c-nav__menu--main js-menu">
                    
                    <% include nav--main %>
                    
                </ul>
            </nav>
