
        <div class="c-newsletter">
            <h4 class="o-lead--5">zapisz się do naszego newslettera</h4>
            
            <div class="row">
                <input type="email" placeholder="Adres e-mail">
            
                <button type="submit" class="o-btn o-btn--major">
                    <span>Zapisz się</span>
                </button>
            </div>
            
            <div class="row">                    
                <input type="checkbox" checked id="agree-newsletter">
                <label for="agree-newsletter">
                	<i></i>
                	<span>Wyrażam zgodę na otrzymywanie drogą elektroniczną [...]</span>
                </label>
            </div>
        </div>
