
        <div class="c-offer">
            <a href="#" class="c-offer__item anim anim--up">
                <article class="o-article">
                    <i class="icon-selfpublishing"></i>
                    
                    <h3>selfpublishing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis neque et lectus imperdiet.</p>
                    <p>&nbsp;</p>
                    <p>Maecenas volutpat luctus sem. In hac habitasse platea dictumst.</p>
                </article>
                
                <p class="o-more o-more--line">Dowiedz się więcej</p>
            </a>
            
            <a href="#" class="c-offer__item anim anim--up anim--delay1">
                <article class="o-article">
                    <i class="icon-fullfillment"></i>
                    
                    <h3>fulfillment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis neque et lectus imperdiet.</p>
                    <p>&nbsp;</p>
                    <p>Maecenas volutpat luctus sem. In hac habitasse platea dictumst.</p>
                </article>
                
                <p class="o-more o-more--line">Dowiedz się więcej</p>
            </a>
            
            <a href="#" class="c-offer__item anim anim--up anim--delay2">
                
                <article class="o-article">
                    <i class="icon-salescrm"></i>
                    
                    <h3>salesCRM</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis neque et lectus imperdiet.</p>
                    <p>&nbsp;</p>
                    <p>Maecenas volutpat luctus sem. In hac habitasse platea dictumst.</p>
                </article>
                
                <p class="o-more o-more--line">Dowiedz się więcej</p>
            </a>
            
            <a href="#" class="c-offer__item anim anim--up anim--delay3">
                
                <article class="o-article">
                    <i class="icon-support"></i>
                    
                    <h3>support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis neque et lectus imperdiet.</p>
                    <p>&nbsp;</p>
                    <p>Maecenas volutpat luctus sem. In hac habitasse platea dictumst.</p>
                </article>
                
                <p class="o-more o-more--line">Dowiedz się więcej</p>
            </a>
        </div>
