
        <div class="c-questions anim anim--up js-questions">
            <div class="c-questions__content">
                
                <form action="#" class="c-questions__form">
                    <h3>Dopasuj usługi<br> do swoich potrzeb...</h3>
                    
                    <ol class="c-questions__list js-list">
                        <li class="is-active">
                            <div class="c-questions__item js-question">
                                <p>lorem ipsum doloret sit amet dolors tape?</p>
                                
                                <div class="c-questions__checkboxes">
                                	<input type="radio" name="answer-1"  id="answer-1--yes">
                                    <label for="answer-1--yes">tak</label>
                                    
                                    <input type="radio" name="answer-1" id="answer-1--no">
                                    <label for="answer-1--no">nie</label>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="c-questions__item js-question is-hidden">
                                <p>lorem ipsum doloret sit amet dolors tape?</p>
                                
                                <div class="c-questions__checkboxes">
                                	<input type="radio" name="answer-2"  id="answer-2--yes">
                                    <label for="answer-2--yes">tak</label>
                                    
                                    <input type="radio" name="answer-2" id="answer-2--no">
                                    <label for="answer-2--no">nie</label>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="c-questions__item js-question is-hidden">
                                <p>lorem ipsum doloret sit amet dolors tape?</p>
                                
                                <div class="c-questions__checkboxes">
                                	<input type="radio" name="answer-3"  id="answer-3--yes">
                                    <label for="answer-3--yes">tak</label>
                                    
                                    <input type="radio" name="answer-3" id="answer-3--no">
                                    <label for="answer-3--no">nie</label>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="c-questions__item js-question is-hidden">
                                <p>lorem ipsum doloret sit amet dolors tape?</p>
                                
                                <div class="c-questions__checkboxes">
                                	<input type="radio" name="answer-4"  id="answer-4--yes">
                                    <label for="answer-4--yes">tak</label>
                                    
                                    <input type="radio" name="answer-4" id="answer-4--no">
                                    <label for="answer-4--no">nie</label>
                                </div>
                            </div>
                        </li>
                    </ol>
                    
                    <button type="submit" class="o-btn o-btn--major is-inactive js-submit">
                        <span>Otrzymaj dedykowaną ofertę</span>
                    </button>
                </form>
                
                <ul class="c-questions__icons">
                    <li class="js-icon is-active">
                        <i class="icon-selfpublishing"></i>
                        <span>selfpublishing</span>
                    </li>
                    
                    <li class="js-icon">
                        <i class="icon-fullfillment"></i>
                        <span>fullfillment</span>
                    </li>
                    
                    <li class="js-icon =">
                        <i class="icon-salescrm"></i>
                        <span>salesCRM</span>
                    </li>
                    
                    <li class="js-icon">
                        <i class="icon-support"></i>
                        <span>support</span>
                    </li>
                </ul>
                
            </div>
        </div>
