
        <div class="c-reviews anim anim--up">
            
            <header class="o-header">
                <h2 class="o-lead--1">Opinie</h2>
            </header>
            
            <div class="c-reviews__slider swiper-container js-reviewsslider">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">
                        <div class="c-reviews__item">
                            <div class="o-author">
                                <p class="o-author__name">michał szafrański</p>
                                <p class="o-author__position">autor finansowego ninja oraz zaufanie czyli waluta</p>
                            </div>
                            
                            <blockquote>
                                <p><strong>IMKER to był najlepszy wybór spośród wszystkich decyzji podjętych w okresie prac nad #FinNinja.</strong> Nie ma słów, którymi mógłbym wystarczająco polecić ich usługi. Konkurencyjne firmy logistyczne mają po kilku sprawnych handlowców, którzy potrafią sprzedawać usługi, ale później okazuje się, że firma nie dowozi jakości… U Krzyśka jest odwrotnie: najpierw jakość, a potem chwalenie się. Dlatego właśnie tak chętnie polecam go dalej.</p>
                            </blockquote>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="c-reviews__item">
                            <div class="o-author">
                                <p class="o-author__name">michał szafrański</p>
                                <p class="o-author__position">autor finansowego ninja oraz zaufanie czyli waluta</p>
                            </div>
                            
                            <blockquote>
                                <p><strong>IMKER to był najlepszy wybór spośród wszystkich decyzji podjętych w okresie prac nad #FinNinja.</strong> Nie ma słów, którymi mógłbym wystarczająco polecić ich usługi. Konkurencyjne firmy logistyczne mają po kilku sprawnych handlowców, którzy potrafią sprzedawać usługi, ale później okazuje się, że firma nie dowozi jakości… U Krzyśka jest odwrotnie: najpierw jakość, a potem chwalenie się. Dlatego właśnie tak chętnie polecam go dalej.</p>
                            </blockquote>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="c-reviews__item">
                            <div class="o-author">
                                <p class="o-author__name">michał szafrański</p>
                                <p class="o-author__position">autor finansowego ninja oraz zaufanie czyli waluta</p>
                            </div>
                            
                            <blockquote>
                                <p><strong>IMKER to był najlepszy wybór spośród wszystkich decyzji podjętych w okresie prac nad #FinNinja.</strong> Nie ma słów, którymi mógłbym wystarczająco polecić ich usługi. Konkurencyjne firmy logistyczne mają po kilku sprawnych handlowców, którzy potrafią sprzedawać usługi, ale później okazuje się, że firma nie dowozi jakości… U Krzyśka jest odwrotnie: najpierw jakość, a potem chwalenie się. Dlatego właśnie tak chętnie polecam go dalej.</p>
                            </blockquote>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="c-reviews__item">
                            <div class="o-author">
                                <p class="o-author__name">michał szafrański</p>
                                <p class="o-author__position">autor finansowego ninja oraz zaufanie czyli waluta</p>
                            </div>
                            
                            <blockquote>
                                <p><strong>IMKER to był najlepszy wybór spośród wszystkich decyzji podjętych w okresie prac nad #FinNinja.</strong> Nie ma słów, którymi mógłbym wystarczająco polecić ich usługi. Konkurencyjne firmy logistyczne mają po kilku sprawnych handlowców, którzy potrafią sprzedawać usługi, ale później okazuje się, że firma nie dowozi jakości… U Krzyśka jest odwrotnie: najpierw jakość, a potem chwalenie się. Dlatego właśnie tak chętnie polecam go dalej.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
                
                <div class="c-reviews__nav">
                    <div class="arrows">
                        <div class="swiper-button-prev icon-arrow"></div>
                        <div class="swiper-button-next icon-arrow"></div>
                    </div>
                    
                    <div class="swiper-pagination"></div>
                    <div class="swiper-fraction">
                        <span class="js-current">1</span> / <span class="js-all"></span>
                    </div>
                </div>
            </div>                
        </div>
