
        <div class="c-slider">
            
            <div class="swiper-container js-homeslider">
                <div class="swiper-wrapper">
                    
                    <div class="swiper-slide">            
                        <div class="c-slider__item">
                            <figure>
                                <div class="photo">
                                    <img src=<%=require("./img/photos/slider/01.jpg") %> alt="">
                                </div>
            
                                <figcaption>
                                    <p>Istniejemy po to, by zapewnić przestrzeń, w&nbsp;której <span class="color-primary">Twój pomysł</span> zmienia się w&nbsp;produkt...</p>
                                    
                                    <a href="#" class="o-more o-more--line">Zaczynajmy</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">            
                        <div class="c-slider__item">
                            <figure>
                                <div class="photo">
                                    <img src=<%=require("./img/photos/slider/02.jpg") %> alt="">
                                </div>

                                <figcaption>
                                    <p>Istniejemy po to, by zapewnić przestrzeń, w&nbsp;której <span class="color-primary">Twój pomysł</span> zmienia się w&nbsp;produkt...</p>
                                    
                                    <a href="#" class="o-more o-more--line">Zaczynajmy</a>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

