
        <ul class="c-socialbar">
            <li>
                <a href="#" class="icon-linkedin-in"></a>
            </li>
            
            <li>
                <a href="#" class="icon-instagram"></a>
            </li>
            
            <li>
                <a href="#" class="icon-facebook-f"></a>
            </li>
            
            <li>
                <a href="#" class="icon-youtube"></a>
            </li>
        </ul>
