
        <div class="c-socialline">
            <header class="o-header">
                <h2 class="o-lead--4">Social media</h2>
                
                <ul class="c-socialline">
                    <li class="anim anim--right anim--delay1">
                        <a href="#" class="icon-facebook-f"></a>
                    </li>
                    
                    <li class="anim anim--right anim--delay2">
                        <a href="#" class="icon-instagram"></a>
                    </li>
                    
                    <li class="anim anim--right anim--delay3">
                        <a href="#" class="icon-linkedin-in"></a>
                    </li>

                    <li class="anim anim--right anim--delay4">
                        <a href="#" class="icon-youtube"></a>
                    </li>
                </ul>
            </header>
        </div>
