<% include ./src/includes/head %>

    <% include ./src/includes/cover %>
    
    <% include ./src/includes/top %>

    <main class="o-main">

        <% include ./src/includes/slider %>
        <% include ./src/includes/offer %>
        <% include ./src/includes/questions %>
        <% include ./src/includes/reviews %>
        <% include ./src/includes/blog %>
        <% include ./src/includes/team %>
        <% include ./src/includes/contact %>
        <% include ./src/includes/socialline %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/bottom %>
        
        <% include ./src/includes/socialbar %>
        
    </main>

</body>
</html>


